[package]

authors = ["Christian Sdunek <me@systemcluster.me>"]
build = "build.rs"
categories = ["compression", "filesystem", "command-line-utilities"]
description = "Packer for Executables"
edition = "2021"
include = [
  "Cargo.toml",
  "src/**/*",
  "startpe/**/*",
  "build.rs",
  "LICENSE",
]
license = "BSD-2-Clause"
name = "wrappe"
readme = "README.md"
repository = "https://github.com/Systemcluster/wrappe"
version = "0.0.0"

[[bin]]

name = "wrappe"
path = "src/main.rs"

[workspace]

members = [
  ".",
  "startpe",
]

[profile.release]

codegen-units = 1
debug = false
debug-assertions = false
incremental = false
lto = "fat"
opt-level = 's'
panic = "abort"
strip = "symbols"

[dependencies]

staticfilemap = {version = "0.3.0", default-features = false, features = ["zstd"]}

clap = {version = "3.1.12", features = ["std", "color", "suggestions", "derive", "unicode", "wrap_help"]}
color-backtrace = "0.5.1"
console = "0.15.0"
indicatif = "0.17.0-rc.10"
jwalk = "0.6.0"
num_cpus = "1.13.1"
path-slash = "0.1.4"
rand = "0.8.5"
rayon = "1.5.2"
sysinfo = "0.23.10"
twox-hash = {version = "1.6.2", default-features = false}
zerocopy = "0.6.1"
zstd = "0.10.0"

[build-dependencies]
jwalk = "0.6.0"
which = "4.2.5"
