[package]

authors = ["Christian Sdunek <me@systemcluster.me>"]
description = "Runner for Packed Executables"
edition = "2021"
license = "BSD-2-Clause"
name = "startpe"
publish = false
repository = "https://github.com/Systemcluster/wrappe"
version = "0.0.0"
workspace = ".."

[[bin]]

name = "startpe"
path = "src/main.rs"

[dependencies]

dirs = "4.0.0"
filetime = "0.2.16"
fslock = "0.2.1"
memmap2 = "0.5.3"
rayon = "1.5.2"
twox-hash = {version = "1.6.2", default-features = false}
zerocopy = "0.6.1"
zstd = {version = "0.11.1", default-features = false, features = ["legacy", "arrays"]}

[target.'cfg(windows)'.dependencies]

winapi = {version = "0.3.9", features = [
  "wincon",
  "wincontypes",
  "consoleapi",
]}
